div.movie-list {
    background-color: lightpink;
    border-color: tomato;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    height: 200px;
    margin: 4px;
    padding: 5px;
    width: 300px;
}

div.movie-list > div + div {
    padding-top: 10px;
}

div.movie-list > div.movie-name {
    font-size: 22px;
    font-weight: bold;
}

div.movie-list span.info {
    color: crimson;
    font-weight: bold;
}

div.movie-list span.data {
    color: darkred;
    padding-left: 4px;
}

div.movie-list > div.movie-details {
    cursor: pointer;
    position: relative;
    text-align: center;
    top: 20px;
}

div.movie-list > div.movie-details > a.button {
    background-color: crimson;
    color: white;
    padding: 5px;
    text-decoration: none;
}
