    <div class="movie-list" *ngFor="let movie of movies">
        <div class="movie-name">{{ movie.name }}</div>

        <div class="movie-release-year">
            <span class="info">Released Year:</span>
            <span class="data">{{ movie.releaseYear }}</span>
        </div>

        <div class="movie-reviews">
            <span class="info">Reviews:</span>
            <span class="data">{{ movie.reviews }}</span>
        </div>

        <div class="movie-revenue">
            <span class="info">Revenue:</span>
            <span class="data">{{ movie.revenue | currency }}</span>
        </div>

        <div class="movie-details">
            <a class="button" routerLink="{{ '/movies/info/' + movie.id }}">
                View Details
            </a>
        </div>
    </div>
