div#movie-info {
    background-color: lightpink;
    margin: 50px auto 0px;
    padding: 70px 30px;
    width: 600px;
}

div#movie-info > div + div,
div#movie-info > div.summary-view > div + div {
    padding-top: 20px;
}

div.movie-image {
    float: right;
}

div#movie-info > div.summary-view > div.movie-title {
    font-size: 30px;
    font-weight: bold;
}

div#movie-info > div.summary-view > div.movie-short-summary > div {
    color: crimson;
    font-size: 15px;
    float: left;
    margin-right: 20px;
}

div.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

